Source: psx-bios-package
Section: contrib/games
Priority: extra
Maintainer: Frédéric Brière <fbriere@fbriere.net>
Build-Depends: debhelper (>= 9),  asciidoc, xmlto
Standards-Version: 3.9.7
Vcs-Git: http://git.fbriere.net/debian/psx-bios-package.git
Vcs-Browser: http://git.fbriere.net/debian/psx-bios-package.git/
Bugs: mailto:fbriere@fbriere.net

Package: psx-bios-package
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, fakeroot, wget | curl
Recommends: unzip
Provides: psx-bios
Enhances: pcsxr
Description: Debian packager for Sony PlayStation BIOS images
 Most PSX emulators require a genuine PlayStation BIOS; even those that
 don't (because they come with an emulated BIOS) will usually work better
 with one.
 .
 This utility makes it possible to build your own personal Debian package
 of a Sony PlayStation BIOS image.
